@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

body{
    /* background: #f1f1f1; */
    background-image: url(https://images.pexels.com/photos/333304/pexels-photo-333304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: darken;
    background-color: rgb(0, 0, 0, 0.7);

}

nav{
    background-color: #f1f1f1;
    height: 80px;
    width: 100%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul{
    float: right;
    margin-right: 55px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 13px;
    font-family: 'Poppins', sans-serif;
}


label.logo{
    color: #000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;    
}

.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;  
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: #f1f1f1;
    padding: 10px 20px;
    color: #000;
    letter-spacing: 2px;
    transition: 0.4s;
    border-radius: 8px;
}
.h-text a:hover{
    background: #000;
    color: #f1f1f1;
}

.checkButton{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.myCheckBox{
    display: none;
}

a:hover, a.active{
    background: #000;
    color: #f1f1f1;
    border-radius: 10%;
}

@media screen and (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
    
}

@media screen and (max-width:858px) {
    .checkButton{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #164863;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
        color: #fff;
    }

    a:hover, :active{
        color: pink
    }

    .myCheckBox:checked ~ ul{
        left: 0;
    }
}